<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="localDB" connectionString="Data Source=LAB-400;Initial Catalog=cegroup8Db;Integrated Security=True"/>
    <add name="RuppinDB"
         connectionString="Server=media.ruppin.ac.il;Database=cegroup8Db;Uid=cegroup8;Password=cegroup8123;"/>
    <!--connectionString="Server=82.166.189.73;Database=cegroup8Db;Uid=cegroup8;Password=cegroup8123;"/>-->
  </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
      
      <webServices>
        <protocols>
          <add name="HttpGet"/>
          <add name="HttpPost"/>
        </protocols>
      </webServices>
      
    </system.web>

</configuration>
